# This is the CODEOWNERS file that helps determine who can validate what code in a PR review
# Please update the file as this code base evolves

################
# Single users #
################

*    @deepthought-the-bot
